.faq {
  &-content {
    padding-top: 7em;
    text-align: center;
    padding-bottom: 10em;
  }
  .css-1twr7re-JoyAccordionSummary-button {
    justify-content: flex-start;
  }

  .css-q7gy78-JoyAccordionSummary-indicator {
    margin: 0 0 0 auto;
  }

  .css-jb2345-JoyAccordionDetails-content {
    padding-top: 0.5em;
    text-align: left;
    margin-left: 4ch;
    margin-right: 4ch;
  }
}
